@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Newsreader:wght@500&family=Notable&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Aleo', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center; 
    
}


main {
    flex: 1;
    padding: 0;
}


.welcome h2{
    font-family: 'Aleo', sans-serif;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 50px;
    align-items: center;
}

.story, .mission, .team h3 {
    font-family: 'Aleo', sans-serif;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
    align-items: center;
}

.text-box p {
    display: flex;
    justify-content: flex-start;
    line-height: 1.5;
    align-items: center;
    padding: 4%;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px dashed;
    border-color: #F3B664;
    margin-bottom: 5%;
    text-align: center;
}

p {
    text-align: center;
}


.team {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5%;
}

.team-image img{
    max-width: 100%;
    max-height: auto;
    padding-bottom: 5%;
}

.intro-text-box {
    padding: 10px; 
    background-color: #ffc77d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media (min-width: 768px) {
    
    .team-image {
        display: grid;
        grid-template-rows: 3;
        gap: 10px;
        font-family: 'Aleo', sans-serif;
        color: #000000;
        padding-left: 10px;
        padding-right: 10px;
    }

    .intro-text-box {
        padding: 10px; 
        background-color: #ffc77d;
        margin-top: 50px; 
    }

    .team h3 {
        grid-column: 1 / -1; 
    }
    
    .team {
        display: grid;
        grid-template-columns: repeat(3, 2fr); 
        grid-gap: 5px;
        text-align: center;
    }
    
    .team-image {
        display: grid;
        grid-template-rows: auto 1fr; 
    }
    
    .team-image img{
        max-width: 100%;
        max-height: auto;
    }
    

}
