
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Newsreader:wght@500&family=Notable&display=swap");

/* Base body styling */
body {
    font-family: "Aleo", sans-serif;

}

/* Header styles */
h1 {
    font-family: "Aleo", sans-serif;
    font-weight: bold;

}

h2 {
    font-family: "Aleo", sans-serif;
    font-weight: bold;

}

h3 {
    font-family: "Aleo", sans-serif;
    font-weight: bold;

}

/* Footer text */
footer {
    font-family: "Newsreader", serif;
    font-weight: medium;

}

/* Navigation items */
.nav-item {
    font-weight: regular;
}
/*make navbar and footer orange*/
